@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}
*{ margin:0;
    box-sizing: border-box;
    font-family: Roboto;}

body {
    margin-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:  Roboto, Helvetica, sans-serif;
}

a:hover {
    color:#ffcc33;
}

.nav-cont {
    width: 95%;
    padding: 10px 0;
}

.navbar-inverse{
    background-color:#000000;
    color:#fff;
}

.navbar-brand {

    color: #fff !important;
    padding: 0;
    height: auto;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-brand img {
    float:left;
}

.navbar-brand span{
    padding: 15px 0;
    position: relative;
    top:20px;
    font-size: 25px;
}

.navbar-nav {
    float:right;
    background-position: center;
}

#lang-menu{
    height: 50px;
}

#lang-menu ul {
    display: none;
    background: #101010;
    padding: 0 10px 15px 10px;
    line-height: 20px;
    list-style-type: none;
    margin-left: 5px;
    border: 1px solid;
    z-index: 999;
    position: absolute;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-image {

    width: 100%;
    text-align: center;
    background: url('../img/bg-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.headline {
    height: 99vh;
    display: flex;
}

.headline h1 {
    font-size: 30px;
    color: #fff;
    font-family: Roboto-light;
    line-height: 115%;
}

.top-text {
    text-align: left;
    margin-top:25%;
    width: 55%;
}

.image {
    padding-top:30px;
}

.top-text h1 {
    margin-bottom: 30px;
}

.top-button-box{
    clear: both;
    float: left;
    position: absolute;
    top: 140%;
    display: block;
    z-index: 999;
}

.top-button-link{
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
    background: #000;

}

.top-button {
    background: #fff;
    padding: 15px 45px;
    color: #000;
    font-size: 20px;
    border-radius: 5px;
}

.top-button:hover {
    background: #dcac00;
    padding:15px 45px;
    color:#000;
    text-decoration: none;
}

.top-link{
    color: #fff;
    background-color:rgba(0,0,0,0.85);
    padding: 30px;
    font-family:  "Roboto, Helvetica, sans-serif";
}

a {color: #fff;}
a:hover {text-decoration: none;}
a:focus {text-decoration: none;color: #ffcc33;}

.social {
    padding: 50px;
    float: right;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 0;
    z-index: 99;
}



.social i {
    margin-right: 20px;
}

.box-art {
    background: #000;
}

.box-art3 {
    background-image: url("../img/bgbox.png");
    background-position: top center;
    text-align: left;
    padding: 15px 30px;
}

.box-art4 {
    background:#000;
    text-align: left;
    padding: 15px 30px;
}

.box-art5 {
    width: 40%;
    margin-top: 95px;
    background-color:rgba(0,0,0,0.5);
    padding: 20px 30px;

    float: right;
}
@media(max-width:990px){
    .box-art5 {
        width: 100%;
        margin-top: 95px;
        background: #000;
        padding: 15px;
        opacity:0.8;
        float: right;
    }
}

.box-art6 {
    background:#000;
    text-align: left;
    padding: 15px 30px 44px 30px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.circle-ico{
    color: #fff;
    border: 3px solid #dcac00;
    border-radius: 50%;
    width: 60px;
    padding: 10px 15px 12px 15px;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    float: left;
    text-align: center;
    position: relative;
    margin: 3px;
}

.circle-ico span {
    font-size: 12px;
    margin-top: 9px;
    padding-top: 22px;
    position: absolute;
    top: 2px;
    left: 40%;
}

.title-art {
    color: #ffcc33;
    padding:30px 0 ;

}
.center-txt {
    text-align: center;
}

.margin-auto {
    margin:0 auto;
}

.center-txt-div{
    width: 70%;
    margin: 0 auto;
}

 ul{
    padding: 0;
}

.tech li {
    color: #fff;
    padding: 5px 0;
    list-style-type: none;
}

.fontW {
    color: #fff;
 }

.lead {
    color:#fff;
    font-size:20px;
    clear: both;
    padding: 20px 0;
    margin:20px 0;
}

.lead2 {
    font-size:14px;
    color:#fff;
    clear: both;
    margin: 25px 0;
    font-family: Roboto;
    line-height: 25px;
    width:75%;
}

.lead3 {
    color:#fff;
    font-size:24px;
    clear: both;
    padding: 20px 0;
    margin:20px 0;
}

.lead-center {
    font-size:14px;
    color:#fff;
    clear: both;
    margin: 25px 25%;
    font-family: Roboto;
    line-height: 25px;

}

.lead-txt{
    margin-bottom: 0;
    padding-bottom: 0;
}

.lead-txt2 {
    margin-top:0;
    padding-top:0;
}

.yellow-but {
    background: #ffcc33 ;
    color:#000;
    padding: 10px;
    width: 60%;
    margin: 10px 0;
}

@media (min-width:1250px) {
    .yellow-but {
        width: 55%;

    }
}

@media (min-width:1500px) {
    .yellow-but {
        width: 40%;

    }
}

.clear {
    clear:both;
}

.padding{
    padding: 10px 0;
}
.content1 {
    background: url('../img/bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
    width: 100%;
    padding-bottom: 15px;
}

.content2 {
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
    width: 100%;

}

.content3 {
    background: url('../img/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
    width: 100%;

}

.content4 {
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
    width: 100%;
    padding: 30px 0;
    color:#fff;
}

.content5 {
    background: url('../img/bg4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin: 0;
    width: 100%;

}

.cert {

}

.cert img {

}

.span4{
    float:left;
}

.bg-green{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.image-box{
    width: auto;
    margin: 0px 15px;

}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    padding: 10px 20px 10px 0;
    position:   relative;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

.form-box {
    background: #313131;
    padding:20px;
}

.form-box input {
    width: 100%;
    background: #4c4c4c;
    border: none;
    padding: 10px;
    margin: 10px 0;
}

.form-box button:hover{
    background: #ffcc33;
    border: 3px solid  #ffcc33;
}

.form-box button:active{
    background: #ffcc33;
    border: 3px solid  #ffcc33;
}

.form-box button:focus{
    background: #ffcc33;
    border: 3px solid  #ffcc33;
}

.form-box button:visited{
    background: #ffcc33;
    border: 3px solid  #ffcc33;
}

.form-box textarea {
    width: 100%;
    background: #4c4c4c;
    border: none;
    padding: 10px;
    margin: 10px 0;
    resize: none;
}

.form-box button {
    background: #fff;
    padding: 10px 20px;
    color:#222;
    border:3px solid #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top:5px;
}

.footer-title{
    padding:20px;
}

.footer-title p {
    float:left;
    padding: 20px 0;
}

.no-padding {
    padding:0;
}

.no-margin {
    margin:0;
}

.more{
    padding-top: 15px;
}

footer {
    padding: 5px 0;
    background: #000;
    color:#fff;
    float: right;
}

footer p {
    float:right;

}

@media(max-width:1200px) {
    .headline h1 {

    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}
.page-scrol {
    margin-bottom: 100px;
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 30px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width:100%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 22px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 26px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}


/* js i inne */
.action {
    background: #fff;
    color: #000;

 }

.maps {
    filter: grayscale(100%);
}

.no {
    display:none;
}

.morecontent {
    position: relative;
    top:15px;
}

.morecontent span {
    display: none;

}
.morelink {

    color: #ffcc33;
    padding: 10px 0;
    width:100%;
    display:flex;
}

.morelink a {
    color: #ffcc33;
    padding: 10px 0;
    width:100%;
    display:flex;
}

.link-more{
    color: #ffcc33;
    padding: 10px 0;
}




@media (max-width:577px) {
    .top-text {
        text-align: left;
        margin-top:25%;
        width: 100%;
    }
    .social {
        padding: 0 !important;
    }
    
    .social i {
        margin-right: 30px;
        font-size: 22px;
    }
    .navbar-nav{
        float: none;
        text-align: center;
    }
    .featurette-image {
        max-width: 100%;
    }
    .yellow-but {
        width: 100%;
        height: 50px;
    }
    .top-button-link{
        display:none;
    }
    .lead-center{
        margin:0;

    }
    nav li a{
        font-size: 20px;
        padding: 15px 0 !important;
    }
    .more{
        display: none;
    }
    .content2.content3.content4 {
       background: #000;
    }
}

@media (max-width:991px) {
    .top-button-link{
        display:none;
    }
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 130px;
    }
}

.send-message {
    padding-top: 10px;
    color: #ffcc33;
}